@use "../base/typography" as *;
@use "../variables/mixins" as *;

.avatar {
  width: rem-calc(50);
  height: rem-calc(50);

  &--circle {
    border-radius: 50%;
  }

  &--rounded {
    border-radius: rem-calc(15);
  }
}
