@use "../themes/colors" as *;
@use '../variables/_mixins' as *;

.card {
  padding: rem-calc(15);
  background-color: $color-white;
  box-shadow: 0 rem-calc(1) rem-calc(1) rgba(0, 0, 0, 0.1);
  border-radius: rem-calc(15);
  border: 1px solid $color-gray-light;
}