@use "../themes/colors" as *;

#root {
  background-color: white;
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: #F3F5F5;
  font-family: "Lato", serif;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;

  @media (min-width: 601px) {
    border: rem-calc(5) solid $color-gray-light;
    box-shadow: 0 rem-calc(1) rem-calc(1) rgba(0, 0, 0, 0.8);
    max-width: 800px;
  }
}